*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

/component-support-core/.gradle
/component-support-core/build
/component-support-core/.idea

/component-core/.gradle
/component-core/build
/component-core/.idea

/component-plugin/build
/component-plugin/.gradle
/component-plugin/.idea

/component-support-plugin/build
/component-support-plugin/.gradle
/component-support-plugin/.idea
