<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plugin.debug">

    <application
        android:name=".librarykotlin.LibraryApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".librarykotlin.LibraryKotlinMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
